<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a third year undergraduate student at
      <a class="underline-link" href="https://www.njit.edu/" target="_blank">NJIT</a> working on perfecting my coding capabilities while learning new languages and skills. I am pursuing a degree in
      <a class="underline-link" href="https://www.njit.edu/academics/major/information-technology/" target="_blank">Information Technology</a> with a specialization in <a class="underline-link" href="https://informatics.njit.edu/web-applications-specialization-courses" target="blank">Web Applications</a>, while minoring in
      <a class="underline-link" href="https://cs.njit.edu/" target="_blank">Computer Science.</a>
    </p>

    <p>
      As Webmaster for my fraternity (Psi Upsilon), I run the organization's social media accounts, keep members active across all platforms, and edit the website. Back-end web development is something that I am passionate about, and I am eager to learn more about it. 
    </p>

    <p>
      <strong>When I am not in front of a computer screen</strong>,I'm learning to cook delicious food, playing sports/going to the gym, or working on new insightful projects.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
